<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<script src="../js/autosize.js"></script>
		<style type="text/css">
			input.x-input {
				border: none;
				border-bottom: 1px solid #ccc;
			}
			
			.mui-content {
				background-color: white;
			}
			
			.mui-scroll {
				background-color: white;
				padding: 15px;
			}
			
			#btnComplete {
				float: right;
				line-height: 45px;
				margin-right: 15px;
			}
			
			.edit-text {
				/*min-height: 0.45rem;
				font-size: 0.16rem;*/
				color: #2e2e2e;
				/*line-height: 0.25rem;*/
				outline: none;
				-webkit-user-select: text;
				padding: 5px;
			}
			
			.inputValue {
				display: none;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">修改分类</h1>
			<span id='btnComplete'>完成</span>
		</header>
		<div class="mui-content">
			<div class="mui-scroll-wrapper" id='con-wrap'>
				<div class="mui-scroll" id='content'>

					<p>排序号：</p>
					<input type="text" class="x-input" id='orderNum' v-bind:value='orderNum' v-model='orderNum' />

					<p>分类名称：</p>
					<input type="text" class="x-input" id="name" value='' v-model='name' />

					<p>目录：</p>
					<p class="inputValue">{{dirOld}}</p>
					<input type="text" class="x-input" id="dir" value='' v-model='dir' @blur="spcDirUsed(dir,dirOld)" />
					<p><span style='color:red'>{{degInfo}}</span></p>
					<p><span style='color:green'>{{sefInfo}}</span></p>
					<p>备注：</p>
					<!--<input type="text" class="x-input" id="seoTitle" value='sssss' />-->
					<textarea id="note" v-model='note'></textarea>
					<!--id-->
					<p class="inputValue" id='cateid'>{{id}}</p>
				</div>
			</div>
		</div>

		<script src="../js/mui.min.js"></script>
		<script type="text/javascript" src="../js/ui.js"></script>
		<script src="../js/myApp.js"></script>
		<script src="../js/vue.min.js"></script>
		<script type="text/javascript">
			mui.init();

			var vm = new Vue({
				el: '#content',
				data: {
					dir: '',
					dirOld: '',
					name: '',
					note: '',
					orderNum: '',
					id: '',
					degInfo: '',
					sefInfo: '',
					flag:true
				},
				methods: {
					spcDirUsed: function(dir, dirOld) {
						app.spcUpDirUsed(dir, dirOld, function(data) {
							if(data == true) {
								vm.sefInfo = '提示：目录可以使用';
								vm.degInfo = '';
								vm.flag=true;
							} else {
								vm.sefInfo = '';
								vm.degInfo = '提示：目录已被占用，请重填';
								vm.flag=false;
							}
						})
					}
				}
			});

			var siteId;

			//自定义监听事件
			document.addEventListener('get_updateDetail', function(e) {
				var id = event.detail.id;
				if(!id) {
					return;
				}
				//前页传入的数据直接渲染
				vm.orderNum = e.detail.orderNum;
				vm.dir = e.detail.dir;
				vm.dirOld = e.detail.dir;
				vm.note = e.detail.note;
				vm.name = e.detail.name;
				vm.id = e.detail.id;
				siteId = e.detail.siteId;
				vm.degInfo = '';
				vm.sefInfo = '';
			});

			//备份mui.back，mui.back已将窗口关闭逻辑封装的比较完善（预加载及父子窗口），因此最好复用mui.back
			var old_back = mui.back;
			mui.back = function() {
				var btn = ["确定", "取消"];
				mui.confirm('确认关闭当前窗口？', '修改尚未完成', btn, function(e) {
					if(e.index == 0) {
						//执行mui封装好的窗口关闭逻辑；
						old_back();
					}
				});
			}

			var spcInfo = {};
			
			//完成按钮
			document.getElementById("btnComplete").addEventListener('tap', function() {
				if(!vm.flag){
					mui.toast('请检查输入的信息');
					return;
				}
				var objInputs = document.querySelectorAll('.x-input');
				var objTextarea = document.querySelectorAll('textarea');
				spcInfo.orderNum = objInputs[0].value;
				spcInfo.name = objInputs[1].value;
				spcInfo.dir = objInputs[2].value;
				spcInfo.note = objTextarea[0].value;
				spcInfo.siteId = siteId;
				spcInfo.id = document.getElementById("cateid").innerText;

				for(var key in spcInfo) {
					app.log(key + "==" + spcInfo[key]);
				}

				app.spcUpdate(spcInfo, function(data) {
					if(data) {
						mui.toast('修改成功');
						//获得列表界面的webview
						var list = plus.webview.getWebviewById('spc-list');
						//触发列表界面的自定义事件（refresh）,从而进行数据刷新
						mui.fire(list, 'reload');
						//返回true，继续页面关闭逻辑
						old_back();
					}
				});

			});

			//检测目录是否被占用
			//			function spcUpDirUsed(dir,dirOld){
			//				app.spcUpDirUsed(dir,dirOld, function(data) {
			//				if(data==true) {
			//					document.getElementById("dirInfo").innerText = '<span style="color:green"> 提示：目录可以使用 </span>';
			//				}else{
			//					document.getElementById("dirInfo").innerHTML ='<span style="color:red"> 提示：目录已被占用，请重填 </span>';
			//				}
			//			})
			//			}
			//
			//			//域名 失去焦点事件
			//			document.getElementById("domain").addEventListener('blur', function() {
			//				app.addsiteUsed(this.value, function(data) {
			//					if(data) {
			//						document.getElementById("domainInfo").innerText = '提示：' + data;
			//					}
			//				})
			//			});
			//
			//			//手机号码 失去焦点事件
			//			document.getElementById("phoneNumber").addEventListener('blur', function() {
			//				if(app.Reg.IS_MOBILE.test(this.value)) {
			//					document.getElementById("phoneNumberInfo").innerHTML = '';
			//				} else {
			//					document.getElementById("phoneNumberInfo").innerHTML = '<span style="color:red">手机号码格式不对</span>';
			//					return false;
			//				}
			//			});
			//
			//			//邮箱 失去焦点事件
			//			document.getElementById("email").addEventListener('blur', function() {
			//				if(app.Reg.EMAIL.test(this.value)) {
			//					document.getElementById("emailInfo").innerHTML = '';
			//				} else {
			//					document.getElementById("emailInfo").innerHTML = '<span style="color:red">邮箱格式不对</span>';
			//					return false;
			//				}
			//			});
			autosize(document.querySelectorAll('textarea'));
			ui.scollBounce();
		</script>
	</body>

</html>